################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.idea/.idea.WpfAppTestDemo/.idea
/bin/Debug/net8.0-windows
/obj
/WpfAppTestDemo.sln.DotSettings.user
